<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxt.supermarket.mapper.AddressMapper">
    <resultMap id="AddressMap" type="com.kxt.supermarket.pojo.Address">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="allColumn">
        <!--@sql select -->id,name,phone,addr,user_id<!--@sql from address -->
    </sql>

    <select id="queryAddressById" resultMap="AddressMap">
        select <include refid="allColumn"/> from address where id=#{id}
    </select>

    <select id="queryAddressByUid" resultMap="AddressMap">
        select <include refid="allColumn"/> from address where user_id=#{uid}
    </select>

    <insert id="addAddress" parameterType="com.kxt.supermarket.pojo.Address">
        insert into address (<include refid="allColumn"/>)
        value (#{id},#{name},#{phone},#{addr},#{userId})
    </insert>

    <delete id="deleteAddressById">
        delete from address where id=#{id}
    </delete>

    <update id="updateAddress" parameterType="com.kxt.supermarket.pojo.Address">
        update address
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="addr != null">
                addr=#{addr},
            </if>
            <if test="userId != null">
                user_id=#{userId}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>